.Home {
    .loadMessage {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 15px;
        margin: 50px 0;
    }
}