.PaginationTable {
    text-align: center;
    margin-bottom: 160px;
    
    &-btn {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 38px;
        color: #000000;
        border-radius: 50%;
        padding: 0 5px;
        box-sizing: border-box;
        height: 35px;
        width: 35px;
        transition: all ease 0.4s;

        &.active {
            background: #FDD446;
        }
    }
}